
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background-color:transparent;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em;}
::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,0.4);-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em}
/* == grid ==*/
.container,.wrap{position:relative;margin:0 auto;padding:0 15px;box-sizing:border-box}
.fluid{position:relative;margin:0 auto;padding:0 15px}
.row:after,.row:before{content:'';display:block;clear:both}
.row{clear:both;position:relative;display:flex;flex-wrap:wrap;}

/*flex 等宽*/
.flex{clear:both;position:relative;display:flex;flex-wrap:wrap;}
.col,.wz1,.wz2,.wz3,.wz4,.wz5,.wz6,.wz7,.wz8,.wz9,.wz10,.wz11,.wz12,.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8,.w9,.w10,.w11,.w12{position:relative;width:100%;}
.col{flex-basis:0;flex-grow:1;max-width:100%;}
.wz1{flex:0 0 100%;max-width:100%;}
.wz2{flex:0 0 50%;max-width:50%;}
.wz3{flex:0 0 33.333333%;max-width:33.333333%;}
.wz4{flex:0 0 25%;max-width:25%;}
.wz5{flex:0 0 20%;max-width:20%;}
.wz6{flex:0 0 16.666667%;max-width:16.666667%;}
.wz7{flex:0 0 14.285714%;max-width:14.285714%;}
.wz8{flex:0 0 12.5%;max-width:12.5%;}
.wz9{flex:0 0 11.111111%;max-width:11.111111%;}
.wz10{flex:0 0 10%;max-width:10%;}
.wz11{flex:0 0 9.090909%;max-width:9.090909%;}
.wz12{flex:0 0 8.333333%;max-width:8.333333%;}


.w1{flex:0 0 8.333333%;max-width:8.333333%;}
.w2{flex:0 0 16.666667%;max-width:16.666667%;}
.w3{flex:0 0 25%;max-width:25%;}
.w4{flex:0 0 33.333333%;max-width:33.333333%;}
.w5{flex:0 0 41.666667%;max-width:41.666667%;}
.w6{flex:0 0 50%;max-width:50%;}
.w7{flex:0 0 58.333333%;max-width:58.333333%;}
.w8{flex:0 0 66.666667%;max-width:66.666667%;}
.w9{flex:0 0 75%;max-width:75%;}
.w10{flex:0 0 83.333333%;max-width:83.333333%;}
.w11{flex:0 0 91.666667%;max-width:91.666667%;}
.w12{flex:0 0 100%;max-width:100%;}

.rows:after,.rows:before{content:'';display:block;clear:both}
.c1,.c10,.c11,.c12,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9{position:relative;display:block;box-sizing:border-box;float:left}
.c1{width:8.33333333%}
.c2{width:16.66666667%}
.c3{width:25%}
.c4{width:33.33333333%}
.c5{width:41.66666667%}
.c6{width:50%}
.c7{width:58.33333333%}
.c8{width:66.66666667%}
.c9{width:75%}
.c10{width:83.33333333%}
.c11{width:91.66666667%}
.c12{width:100%}

/*space*/
.col-sp1{margin:-.5px}
.col-sp1>*{padding:.5px}
.col-sp3{margin:-1.5px}
.col-sp3>*{padding:1.5px}
.col-sp5{margin:-2.5px}
.col-sp5>*{padding:2.5px}
.col-sp8{margin:-3.5px}
.col-sp8>*{padding:3.5px}
.col-sp10{margin:-5px}
.col-sp10>*{padding:5px}
.col-sp12{margin:-6px}
.col-sp12>*{padding:6px}
.col-sp15{margin:-7.5px}
.col-sp15>*{padding:7.5px}
.col-sp18{margin:-9px}
.col-sp18>*{padding:9px}
.col-sp20{margin:-10px}
.col-sp20>*{padding:10px}
.col-sp22{margin:-11px}
.col-sp22>*{padding:11px}
.col-sp25{margin:-12.5px}
.col-sp25>*{padding:12.5px}
.col-sp30{margin:-15px}
.col-sp30>*{padding:15px}


/* == grid ==*/

/*采用英文简写，m：margin，p：padding，t：top，b：bottom，l：left，r：right 数字为像素*/
/* 外边距 */
.m0{margin:0}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m25{margin:25px}
.m30{margin:30px}
.m35{margin:35px}
.m40{margin:40px}
/* 内边距 */
.p0{padding:0}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}
.p30{padding:30px}
.p35{padding:35px}
.p40{padding:40px}
/* 左外边距 */
.ml0{margin-left:0;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
/* 右外边距 */
.mr0{margin-right:0;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
/* 上外边距 */
.mt0{margin-top:0;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt60{margin-top:60px;}
.mt80{margin-top:80px;}
.mt100{margin-top:100px;}
/* 下外边距 */
.mb0{margin-bottom:0;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb60{margin-bottom:60px;}
.mb80{margin-bottom:80px;}
.mb100{margin-bottom:100px;}
/* 左内边距 */
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
/* 右内边距 */
.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr35{padding-right:35px;}
.pr40{padding-right:40px;}
/* 上内边距 */
.pt0{padding-top:0;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
/* 下内边距 */
.pb0{padding-bottom:0;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}
/*圆角*/
.rdtl5{border-top-left-radius:5px}
.rdtr5{border-top-right-radius:5px}
.rdbl5{border-bottom-left-radius:5px}
.rdbr5{border-bottom-right-radius:5px}
.mh500{min-height:500px;}
/* fn */
.dn{display:none;}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;}
div.dib{*display:inline;*zoom:1;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}

.bgw{background-color:#fff;}
.bgc{background-color:#f4f4f4;}
.bgred{background-color:#cf000d;}
.cfff{color:#fff}
.c666{color:#666}
.clink{color:#0066CC}
.cred{color:red}

.w100{width:100%;}
.n{font-weight:normal;font-style:normal;white-space:normal;}
.b{font-weight:bold;}
.i{font-style:italic;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.tj{text-align:justify;}
.nowrap{white-space:nowrap;}
.bk{word-wrap:break-word;white-space:normal;word-break:break-all;}
.fl{float:left;}
.fr{float:right;}
.clr{clear:both;}
.rel{position:relative;}
.abs{position:absolute;}
.auto{margin-left:auto;margin-right:auto;}
/*清除浮动*/
.fix{*zoom:1;}
.fix:after{display:table;content:'';clear:both;}
/*不固定高度垂直居中<div class="vmo"><div class="vm"></div></div>*/
.vmo:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em;/*微调整空格*/}
.vm{display:inline-block;vertical-align:middle;}
.fvm{display:flex;justify-content:center;align-items:center;}
/*文字溢出显示省略号*/
.el{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;width:100%;}

.wp{width:100%;max-width:760px;min-width:0px;height:auto;max-height:none;min-height:0px;margin-left:auto;margin-right:auto;}
.mainc{width:100%;height:100%;}
li{list-style:none;}

/*chat msgs*/
.msgs{background-color:#f1f1f1;padding:15px}
.msgs .msg{padding-bottom:14px;margin-bottom:14px;position:relative;}
.msgs .msg .img{float:left;width:60px;height:60px;line-height:60px;text-align:center;font-size:24px;border-radius:50%;color:#fff;background-color:#3399CC;}
.msgs .msg .nm{color:#999;font-size:15px;position:absolute;top:-8px;left:70px;}
.msgs .msg .bd{float:left;margin:0 12px;padding:10px;background:#fff;font-size:18px;position:relative;border-radius:12px;box-sizing:border-box;word-wrap:break-word;top:16px}
.msgs .recv{}
.msgs .send{}
.msgs .send .img{float:right;background-color:#FF9933;}
.msgs .send .nm{right:70px;left:auto}
.msgs .send .bd{left:auto;float:right}