<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>D-Channel db</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="../asset/css/w3.css" />
<link rel="stylesheet" href="../asset/css/css.css" />

</head>
<style type="text/css" media="screen">

</style>
<body>
<div class="wrap pt20 pb20">

<div class="rows col-sp8">
	<div class="c1 tr">host:</div>
	<div class="c6">
		<input class="w3-input w3-border" type="text" id="api_host" placeholder="host" value="http://127.0.0.1:8000" />
	</div>
	<div class="c4">
		<button href="javascript:;" class="w3-btn w3-blue" id="btn_boot" onclick="bootdb()">boot</button>
		<button href="javascript:;" class="w3-btn w3-red" id="btn_close" onclick="closeconn()" disabled>close</button>
	</div>
</div>
<div class="rows col-sp12">
	<div class="c4">
		<div class="m5 p5 w3-border">
		<div>
			数据库列表 <a href="javascript:;" class="w3-btn w3-blue w3-tiny w3-padding-small">刷新</a>
		</div>
		<div>
			<ul id="programs"></ul>
		</div>
		<div>
			<a href="javascript:;" class="w3-btn w3-blue w3-tiny w3-padding-small">createdb</a>
		</div>
		</div>
	</div>

	
	<div class="c8">
		<div class="m5 p5 w3-border">
			
		</div>
	</div>
</div>


</div>


</body>
<script type="text/javascript" src="../asset/js/jquery1.9.1.min.js"></script>
<script type="text/javascript">
var api_host='';
function post(url,data,fn){
	$.ajax({
		url:url,
		type:'POST',crossDomain: true,
		data:data,
		success:function(res){
			fn(res);
		}
	})
}
function bootdb(){
	api_host=$.trim($('#api_host').val());
	$.post(api_host+'/boot','',function(res){
		$('#btn_close').removeAttr('disabled');
	});
}
function closeconn(){
	$.post(api_host+'/close',function(res){
		$('#btn_boot').removeAttr('disabled');
	});
}
function listdb(){
	$.post(api_host+'/programs','',function(res){
		
	});
}
function adddb(name){
	var data={
		'name':name,
		'storetype':'',
		'accessids':'',
	}
	$.post(api_host+'/createdb',data,function(res){
		
	});
}
function deldb(address){
	var data={'address':address}
	$.post(api_host+'/removedb',data,function(res){
		
	});
}
function closedb(address){
	var data={'address':address}
	$.post(api_host+'/closedb',data,function(res){
		
	});
}
function db(){
	var data={
		'address':'',
		'method':'',
		'key':'',
		'value':'',
		'originpeers':[],
	}
	$.post(api_host+'/command',data,function(res){
		
	});
}


$(function(){
	
});
</script>

</html>