{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>ipfs</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="/asset/css/w3.css" />
	<link rel="stylesheet" href="/asset/css/css.css" />
	<script type="text/javascript" src="/asset/js/jquery1.9.1.min.js"></script>

</head>

<body>
<div class="w3-panel w3-blue w3-card-4 mt0">
	<p>这里是一段提示文字.</p>
</div>

<div class="wrap mb25">
<div class="w3-border">
	<div class="w3-container w3-blue">
		<h2>发表内容</h2>
	</div>
	<form class="w3-container" id="publish_form" onsubmit="publish_content();return false;">
		<div class="w3-section">
			<label>ipfs 键名：</label>
			<input class="w3-input" name="keyname" type="text" />
		</div>
		<div class="w3-section">
			<label>发送目标：</label>
			<label><input type="checkbox" class="w3-check" id="sendall" value="1">所有人</label>
			<input class="w3-input" name="to" type="text" placeholder="留空则私有" />
		</div>
		<div class="w3-section">
			<label>内容类型：</label>
			<label><input type="radio" class="w3-radio" name="type" value="markdown">markdown</label>
			<label><input type="radio" class="w3-radio" name="type" value="html" checked>html</label>
		</div>
		<div class="w3-section">
			<label>内容：</label>
			<textarea class="w3-input" name="body"></textarea>
		</div>
		<div class="w3-section">
			<label>附件上传：</label>
			<input type="file" name="uploads" id="upfile" />
			<!--<input type="hidden" name="init" value="true" />-->
		</div>
		<div class="w3-section">
			<button type="submit" class="w3-btn w3-blue">发表内容</button>
		</div>
	</form>
</div>
</div>


<div class="wrap">
<div class="w3-border">
	<div class="w3-container w3-blue">
		<h2>获取ipns/ipfs内容</h2>
	</div>
	<form class="w3-container" onsubmit="get_content(this);return false;">
		<div class="w3-section">
			<label>KEY</label>
			<input class="w3-input" name="hash" type="text" />
		</div>
		<div class="w3-section">
			<label><input type="radio" class="w3-radio" name="type" value="ipns">IPNS</label>
			<label><input type="radio" class="w3-radio" name="type" value="ipfs">IPFS</label>
			<button type="submit" class="w3-btn w3-blue">GET</button>
		</div>
	</form>
</div>
</div>

<div class="wrap mt20">
	<div class="row col-sp12">
		<div class="w6">
			<div class="w3-teal p5">ipns(ipfskey)</div>
			<ul class="w3-ul w3-border bk" id="listipfskey"></ul>
		</div>
		<div class="w6">
			<div class="w3-teal p5">ipns list</div>
			<ul class="w3-ul w3-border bk" id="list_ipns"></ul>
		</div>
	</div>
	<div class="row col-sp8">
		<div class="w4">
			<div class="w3-teal p5">ipfs body</div>
			<ul class="w3-ul w3-border bk" id="ipfs_body"></ul>
		</div>
		<div class="w4">
			<div class="w3-teal p5">ipfs post</div>
			<ul class="w3-ul w3-border bk" id="post_ipfs"></ul>
		</div>
		<div class="w4">
			<div class="w3-teal p5">ipfs meta</div>
			<ul class="w3-ul w3-border bk" id="meta_to"></ul>
			<ul class="w3-ul w3-border bk" id="meta_next"></ul>
		</div>
	</div>
	<div class="row col-sp12">
		<div class="w6">
			<div class="w3-teal p5">localstore</div>
			<ul class="w3-ul w3-border bk" id="localstore"></ul>
		</div>
		
		<div class="w6">
			<div class="w3-teal p5">listenfolloweds</div>
			<ul class="w3-ul w3-border bk" id="listenfolloweds"></ul>
		</div>
	</div>
</div>


</body>




<!-- The Modal -->
<div id="pwd_dialog" class="w3-modal">
	<div class="w3-modal-content pt35 pb25">
		<div class="w3-container">
			<span onclick="$('id01').hide()" class="w3-button w3-display-topright">&times;</span>
			<form class="w3-container" onsubmit="set_local_pwd(this);return false;">
				<p><label>Local Password</label>
				<input class="w3-input" type="password" name="password" /></p>
				<button type="submit" class="w3-btn w3-blue">Set Password</button>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript" src="/asset/layer/layer.js"></script>
<script type="text/javascript" src="/asset/js/fn.js"></script>
<script type="text/javascript">

function publish_content(f){
	var iptfile=document.getElementById('upfile');
	var flen=iptfile.files.length;
	var formdata=new FormData(document.getElementById('publish_form'));
	if(flen<1){
		formdata.delete('uploads');
	}
	if($('#sendall').prop('checked')){
		formdata.delete('to');
	}
	loading();
	$.ajax({
		url:'/publish',
		type:"POST",
		data:formdata,
		dataType:'json',
		processData:false,
		contentType:false,
		error:function(){hideload();alerterr('发布失败');},
		success:function(res){
			hideload()
			if(res.code=='1'){
				alertok('发布成功!')
			}else{
				alerterr(res.data)
			}
		}
	})
}
function get_ipfs_content(path){
	$.get(path,function(res){
		$('#post_ipfs').html(res);
	},'text')
}

function get_ipfs_meta(path){
	$.get(path,function(res){
		$('#meta_to').html('<li><b>next:</b><a href="javascript:;" onclick="get_ipfs_body(\''+res.next+'/\')">'+res.next+'/</a></li>');
		var htm=''
		$.each(res.to,function(k,v){
			htm+='<li><a href="javascript:;">'+k+':'+v+'</a></li>'
		});
		$('#meta_next').html('<li><b>to:</b></li>'+htm);
	},'json')
}

function get_ipfs_body(key){
	$.get(key,function(res){
		var htm=''
		$.each(res,function(k,v){
			if(v=='meta.json'){
				htm+='<li><a href="javascript:;" onclick="get_ipfs_meta(\''+key+v+'\');">'+k+':'+v+'</a></li>'
			}else{
				htm+='<li><a href="javascript:;" onclick="get_ipfs_content(\''+key+v+'\');">'+k+':'+v+'</a></li>'
			}
		});
		$('#ipfs_body').html('<li><b>ipfs:</b>'+key+'</li>'+htm);
	},'json')
}

function get_ipns_list(key){
	$.get(key+'/',function(res){
		if(res.code!='1'){return;}
		var htm=''
		htm+='<li><a href="javascript:;" onclick="get_ipfs_body(\''+res.data.path+'\');">'+res.data.path+'</a></li>'
		$('#list_ipns').html(htm);
	},'json')
}
function list_ipfskey(){
	$.get('/listipfskey',function(res){
		if(res.code!='1'){return;}
		var htm=''
		$.each(res.data,function(k,v){
			htm+='<li><a href="javascript:;" onclick="get_ipns_list(\''+v[1]+'\');">'+v[0]+': '+v[1]+'</a></li>'
		});
		$('#listipfskey').html(htm);
	},'json')
}
function list_localstore(){
	$.get('/getlocalstore',function(res){
		if(res.code!='1'){return;}
		var htm=''
		$.each(res.data,function(k,v){
			htm+='<li>'+k+': '+v+'</li>'
		});
		$('#localstore').html(htm);
	},'json')
}

var evtSource=null;
function list_follows(){
	evtSource = new EventSource('/listenfolloweds');
	/*evtSource.onmessage=function(event){
		console.log(event);
	}*/
	evtSource.addEventListener('message',function(e){
		console.log(e);
	});
	evtSource.onerror=function(error){
		console.log('错误msg',error);
		try{
			evtSource.close();
		}catch(e){
			evtSource=null;
		}
	}
	/*$.get('/listenfolloweds',function(res){
		if(res.code!='1'){return;}
		var htm=''
		$.each(res.data,function(k,v){
			htm+='<li>'+v[0]+': '+v[1]+'</li>'
		});
		$('#listenfolloweds').html(htm);
	},'json')*/
}

function init_getkey(){
	$.get('/getsecretrecipient',function(res){
		if(!res['code']){
			$('#pwd_dialog').show();
		}else{
			list_ipfskey();
			list_localstore();
			//list_follows();
		}
	},'json')
	/*var localkey=sessionStorage.getItem('secretkey');
	if(!localkey){
		$('#pwd_dialog').show();
	}else{
		list_ipfskey();
		list_localstore();
		list_follows();
	}*/
}
function set_local_pwd(f){
	var pwd=$.trim(f.password.value);
	if(!pwd){
		alerterr('password must not null!');return;
	}
	loading()
	$.post('/getsecretkey',{'password':pwd},function(res){
		hideload()
		if(res.code=='1'){
			sessionStorage.setItem('secretkey',res.data);
			$('#pwd_dialog').hide();
			list_ipfskey();
			list_localstore();
		}else{
			alerterr(res.data)
		}
	},'json');
}
$(function(){
	init_getkey();
})



</script>
</html>
{{end}}